body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 55px;
}
.parvez{
    color: coral;
}
.size1{
    font-weight: bold;
}
section{
    display: flex;
}
.half-weidth{
    width: 50%;
    padding-left: 65px;
    padding-top: 35px;
    padding-right: 10px;
}
.half-weidth img{
    width: 85%;
}
.button{
    font-family: cursive;
    font-weight: 900;
    background: linear-gradient(rgb(143, 49, 15), rgb(172, 119, 6));
    text-decoration: none;
    padding: 15px 25px;
    color: whitesmoke;
    border-radius: 7px;
}